{% extends "base.html" %}
{% load static %}

{% block extra_meta %}
    <meta name="description" content="Online shop for purchasing Baby related items for weaning on to solid food. Baby clothes for Boys and Girls 0-12months.">
    <meta name="Keywords" content="Shopping, Clothes, Baby, Dinner, Weaning, Cutlrey, Sets, Boys, Girls">
{% endblock %}

{% block page-header%}
    <div class="container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="image-container-home">
    <div class="image-main-bg">
        <div class="card-body">
            <img src="{% static 'images/home_bg.jpg' %}" class="img-fluid vh-100" alt="Responsive image" style="width:100%">
            <div class="overlay-home">
                <h1 class="home-text display-4 logo-font text-black">
                    Baby weaning <br> collection <br> has landed
                </h1>
                {% if user.is_authenticated %}
                    <p class="text-black" style="font-weight: 600;">Welcome, {{ user.username }}!</p>

                    {% endif %}
                <div class="text-center my-5">
                    <h4>
                        <a href="{% url 'products' %}"
                        class="shop-now-button btn btn-lrg rounded-0 text-uppercase py-3">Shop now</a>
                    </h4>
                </div>
            </div>
            
        </div>
    </div>
</div>


{% endblock %}