{% extends "base.html" %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/base.css' %}">
{% block content %}

<div class="container-header">
    <div class="row">
        <div class="col-12 md-6">   
            <h1>{% trans "Sign Up" %}</h1>
            <p>{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}</p>
            <form id="sign_up_form" class="signup" method="post" action="{% url account_signup %}">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">Sign Up</button>
            </form>
        <div class="col-12 md-6">
            <h2>{% trans 'Sign In' %}</h2>
            <form id="sign_in_form" class="signin" method="post" action="{% url account_login %}">
                {% csrf_token %}
                {{ login_form.as_p }}
                <button type="submit">Sign In</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
