{% extends "account/base.html" %}

{% load i18n %}


{% block inner_content %}
<h2 class="text-black">Baby Things Newsletter....</h2>
<br>
<h3 class="text-black">To Subscribe,<h4 class="text-black">Please enter your email address below.</h4></h3>
<p class="text-black">Subscribe to be the first to be in the know when a new collection drops! Discount codes sent to subscribers only!!</p>
<br>
<form enctype="multipart/form-data" method="post" action="{% url 'subscribe_newsletter' %}">
  {% csrf_token %}
  <label for="id_email_field">E-mail:</label> <input type="email" name="email_field" required="" id="id_email_field">
  <button id="id_submit" name="submit" value="Subscribe" type="submit">Subscribe</button>
  </form>

{% endblock %}