html {
    height: 100%;
}

body {
    background: no-repeat center center fixed;
    padding-top: 80px;
    background-size: cover;
    height: calc(100vh - 164px);
    color: #555;
    font-family: 'Nanum Myeongjo';
}

.form-group{
    margin-bottom: 20px;
}

.alert{
    background-color: #dfe76d;
    color: black;
    padding: 20px;
    margin: 15px 0;
    width: auto;
    width: 350px;
    height: auto;
    border: 1px solid transparent;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
}

.btn-edit {
    width: 80px;
    height: 20px;
    line-height: 1;
    padding-top: 1px;
    padding-bottom: 1px;
    font-family: Playfair Display, sans-serif;
    background-color: rgb(81, 78, 78);
    color: white;
    text-decoration: none;
}

.btn-edit:hover{
    color: white;
    background: #291526;
}

/* home page */

.image-main-bg{
    position: relative;
    
}

.overlay-home{
    position: absolute;
    top: 10%;
    left: 10%;
}

.nav-link:hover{
    transform: scale(1.20);
    
}

/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.logo-font {
    text-transform: uppercase;
}

.main-logo-link {
    width: fit-content;
}

.shop-now-button {
    background: rgb(50, 2, 32);
    color: white;
    min-width: 260px;
}

.btn-black {
    background: rgb(50, 2, 32);
    color: white;
}

.btn-outline-black {
    background: white;
    color: blank !important;
    border: 1pxmsolid black;
}

.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus,
.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    background: #222;
    color: white;
}

.text-black {
    color: rgb(50, 2, 32) !important;
}


.border-black {
    border: 1px solid black !important;
}

.overlay {
    height: 100%;
    width: 50%;
    top: 0;
    left: 0;
    position: fixed;
    background: white;
    z-index: -1;
}


/*shopping bag*/

.my-0 {
    color: rgb(50, 2, 32);
}

#bag {
    color: rgb(50, 2, 32)
}

.whitebg{
    background-color: white;
    color: rgb(86, 7, 7);
    border: none;
    text-align: right;
}

a.hoover-cat > span.badge:hover {
    background: rgb(23, 23, 23) !important;
    color: #fff !important;
    
}

.btt-button {
    height: 42px;
    width: 42px;
    position: fixed;
    bottom: 10px;
    right: 10px;
}

.btt-button {
    height: 42px;
    width: 42px;
    position: fixed;
    bottom: 10px;
    right: 10px;
}

.btt-link,
.update-link,
.remove-item {
    cursor: pointer;
}

.cart-header{
    padding-top: 50px;
}

.img-thumbnail{
    width: 100px;
    height: auto;
}

/* footer */
.dark-bg {
    background-color: #202021;

}
.footer{
text-align: center;
padding: 10px;
height: 4rem;
width: 100%;
position: fixed;
bottom: 0;
}

/*add-product form styling*/

.form-add {
    margin-top: 0em;
    display: block;
}

.container-add {
    padding: 20px;
    margin-bottom: 20px;
}

.form-btn {
    margin-bottom: 10px;
    float: left;
}

/*allauth form styling*/
.allauth-form-inner-content p {
    margin-top: 1.5rem; /* mt-4 */
    color: #6c757d; /* text-secondary */
}

.allauth-form-inner-content input {
    border-color: #aab7c4;
    border-radius: 0;
}

.allauth-form-inner-content label:not([for='id_remember']) {
    display: none;
}

.allauth-form-inner-content input::placeholder {
    color: #aab7c4;
}

.allauth-form-inner-content button,
.allauth-form-inner-content input[type='submit'] {
	/* btn */
	display: inline-block;
    font-weight: 300;
    color: peachpuff;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #202021;
    border: 1px solid #202021;
    padding: .20rem .4rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0;

    /* standard bootstrap btn transitions */
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.allauth-form-inner-content button:hover,
.allauth-form-inner-content input[type='submit']:hover {	
	color: #fff;
    background-color: #222;
    border-color: #222;
}

.allauth-form-inner-content a {
	color: #e4690b; /* text-info */
}
/* -------------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
  .container {
    max-width: 80%;
  }
}


/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }
    
    .header-container {
        padding-top: 164px;
    }

    .my-0 {
        color: rgb(50, 2, 32);
    }
    
    #bag {
        color: rgb(50, 2, 32)
    }
}

/* mobile devices */
@media (max-width: 320px){
    .display-4{
        font-size: 3rem; /* adjust font size for mobile devices */
        padding-top: 80px;
        
    }

    .my-0 {
        color: rgb(50, 2, 32);
    }
    
    #bag {
        color: rgb(50, 2, 32)
    }
}


