<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Things
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="" class="dropdown-item">Price</a>
                <a href="" class="dropdown-item ">Rating</a>
                <a href="" class="dropdown-item ">Category</a>
                <a href="" class="dropdown-item">All Products</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="clothing-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Clothing Things
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="clothing-link">
                <a href="" class="dropdown-item">Boys 0-6</a>
                <a href="" class="dropdown-item">Boys 6-12</a>
                <a href="" class="dropdown-item">Girls 0-6</a>
                <a href="" class="dropdown-item">Girls 6-12</a>
                <a href="" class="dropdown-item">Swimwear</a>
                <a href="" class="dropdown-item">Sleepsuits</a>
                <a href="" class="dropdown-item">SleepBags</a>
                <a href="" class="dropdown-item">All Clothing Things</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="weaning-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Dinner Things
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="weaning-link">
                <a href="" class="dropdown-item">Weaning Sets</a>
                <a href="" class="dropdown-item">Plates &amp; Bowls</a>
                <a href="" class="dropdown-item">Cutlery</a>
                <a href="" class="dropdown-item">Bibs</a>
                <a href="" class="dropdown-item">All Dinner Things</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black" href="#" id="specials-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Special Offers
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="specials-link">
                <a href="" class="dropdown-item">New Arrivals</a>
                <a href="" class="dropdown-item">Deals</a>
                <a href="" class="dropdown-item">Clearance</a>
                <a href="" class="dropdown-item">All Specials</a>
            </div>
        </li>
    </ul>
</div>