<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page not found.</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <div class="container">
        <h1>Oooh no!</h1>
        <p>The Page your looking can't be found. Click the link below to return to the Home page</p>
        <a href="{% url 'home' %}">Let us take you Home!!!</a>
    </div>
</body>
</html>
