{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6">
                <div class="cart-header">
                    <hr>
                    <h3 class="logo-font mb-4">Product Management</h3>
                    <h5 class="text-muted">Edit a Product</h5>
                    <hr>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12 col-md-6 mb-5">
                <form method="POST" action="{% url 'edit_product' product.id %}" class="form-add mb-2" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form | crispy }}
                    <a class="btn btn-sm btn-outline-black rounded-0 form-btn" href="{% url 'products' %}">Cancel</a>
                    <button class="btn btn-sm btn-black rounded-0 form-btn" type="submit">Edit Product</button>
                </form>
            </div>            
        </div>
    </div>
{% endblock %}